body {
    background-color: lightseagreen;
    font-family: Helvetica;
}

.jumbotron {
    background-color: darkslateblue;
    color: white;
    
}

h1, h2, h3, h4 {
    text-align: center;
}

p {
    
}

a:link, a:visited {
    text-decoration: none;
    color: coral;
}

a.disabled {
    pointer-events: none;
}

a:hover, a:active {
    color: grey;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}
